.oculto {
    display: none;
}
.mostrar{
    display: block;
}
.blanco {
    color:white;
}
.requerido{
    font-weight: bold;
    font-size: 18px;
    color: red;
}

#gps_rutas_map
{
    position: fixed !important; 
    height: 100% !important;
    width: 100% !important;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#gps_rutas_pano {
  height: 100%;
  width: 100%;
}

 