<div class="modal fade" id="modalVerMas" tabindex="-1" aria-labelledby="modalVerMas" aria-hidden="true" style="z-index: 999999;">
    <div class="modal-dialog  modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-primary">
          <h5 class="modal-title white" id="modalVerMas">Más Info </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            onclick="cerrarModal('modalVerMas')"></button>
        </div>
        <div class="modal-body">
          <div class="card-body" style="height:400px; overflow-y: scroll;">
           <br>
            <div id="descripcion_ver_mas"></div>
          </div>

          <div class="modal-footer"></div>
          <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="cerrarModal('modalVerMas')">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>